.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  z-index: 9999;
}

.modal-content {
  background: var(--cor-principal);
  color: var(--cor-secundaria);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  animation: scaleUp 0.3s forwards 0.1s;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content img {
  max-width: 80%; 
  height: auto;
  display: block;
  margin: 0 auto;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.125rem;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Animações */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@media (max-width: 1200px) {
  .modal-overlay {
    z-index: 9999;
  }
  .modal-content {
    width: 80%;
  }
}