
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

.menu {
  background-color: black; /* Fundo escuro */
  padding: 20px 0; /* Espaçamento superior e inferior */
  position: relative; /* Fixa no topo da tela */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Mantém o header acima de outros elementos */
  box-shadow: 0px 4px 6px rgba(0, 255, 255, 0.2);
  display: flex;
  justify-content:center;
}

.nome-topo {
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-align:left;
  background-color: black;
  margin: 20px;
  justify-content: center;
}



.apresentacao {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-redes{
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.redes-sociais {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction:row;
}

.links {
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
  border-radius: 5px;
  width: 280px;
  display: flex;
  justify-content: center;
  gap: 16px;
  color: white;
  border: #22D4FD 2px solid;
  margin: 1%;
  border-style: solid;
  transition: 0.3s;
}

.links:hover {
  color: LightSkyBlue; /* Cor ao passar o mouse */
  text-decoration: none;
  background-color: #272727;
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
  border-radius: 5px;
  width: 280px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.links img {
  width: 16px;  /* Define um tamanho fixo para a imagem */
  height: 16px; /* Mantém a proporção */
  object-fit: contain; /* Garante que a imagem não fique distorcida */
  border-radius: 0;
}

.projetos{
  text-decoration: none;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
  border-radius: 5px;
  width: 280px;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
  border: #22D4FD 2px solid;
  border-style: solid;
  transition: 0.3s;
  align-items: center;
}

.projetos img{
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
  width: 280px;
  display: flex;
  justify-content: center;
  gap: 16px;
  color: white;
  margin: 1%;
  transition: 0.3s;
}
  
.projetos img{
  width: 32px;  /* Define um tamanho fixo para a imagem */
  height: 32px; /* Mantém a proporção */
  object-fit: contain; /* Garante que a imagem não fique distorcida */
  border-radius: 0;
}


.projetos:hover{
    color: LightSkyBlue; /* Cor ao passar o mouse */
    text-decoration: none;
    background-color: #272727;
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 5px;
    width: 280px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  

.descricao {
  max-width: 600px;
  margin-right: 20px;
  font-family: 'Krona One', sans-serif; 
  color: white;
}

/* Centralizar menu de navegação */
nav {
  display: flex;
  justify-content: center; /* Alinha os itens ao centro */
}

/* Estilização da lista do menu */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Espaçamento entre os itens */
}

/* Links do menu */
nav ul li a {
  text-decoration: none;
  color: #00ffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 5px;
}

/* Efeito de hover */
nav ul li a:hover {
  background-color: #00ffff;
  color: black;
}

/* Ajuste para telas menores 
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  
  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
*/

/* Estilização geral */
body {
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: #00ffff;
  font-family: Arial, sans-serif; /* Define uma fonte padrão */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Imagens */
img {
  width: 350px;  /* Largura fixa */
  height: 350px; /* Altura fixa */
  object-fit: cover; /* Garante que a imagem se ajuste sem distorção */
  border-radius: 50%; /* Deixa a imagem redonda (opcional) */
}

/* Parágrafos */
p {
  line-height: 1.6; /* Melhora a leitura */
  text-align: justify;
}

/* Destaques */
span {
  color: #22D4FD;
  font-weight: bold;
}

/* Rodapé */
footer {
  background-color: DarkSlateBlue;
  color: white;
  text-align: center;
  padding: 10px;
  position:fixed;
  bottom: 0;
  width: 100%;
  font-family: 'monteserrat', sans-serif;
}

/* Botão Download CV */
.cv-download {
  background-color: #22D4FD;  /* Azul vibrante */
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: inline-block;
  color: black;
  font-weight: bold;
  text-align: right;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 255, 255, 0.3);
}

.btn-download:hover {
  background-color: #272727; /* Azul mais escuro no hover */
  box-shadow: 0px 6px 10px rgba(0, 255, 255, 0.5);
  color: #272727;
}

