
:root {
  --cor-principal: black;
  --cor-secundaria: white;
  --cor-terciaria: #22D4FD;
  --cor-hover: #272727;
  --fonte-principal: 'Krona One', sans-serif;
  --tamanho-fonte: 16px;
}

* {
  margin: 0;
  padding: 0;
  
}

 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--cor-principal);
}

.menu {
  background-color: var(--cor-principal);
  padding: 20px 0; 
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; 
  box-shadow: 0px 4px 6px rgba(0, 255, 255, 0.2);
  display: flex;
  justify-content:center;
}

.nome-topo {
  color: var(--cor-secundaria);
  font-weight: bold;
  font-size: 2rem;
  text-align:left;
  background-color: var(--cor-principal);
  margin: 20px;
  justify-content: center;
}



.apresentacao {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}

.titulo-redes{
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px;
}

.redes-sociais {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction:row;
}

.links {
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
  border-radius: 5px;
  width: 280px;
  display: flex;
  justify-content: center;
  gap: 16px;
  color: var(--cor-secundaria);
  border: var(--cor-terciaria) 2px solid;
  margin: 1%;
  border-style: solid;
  transition: 0.3s;
}

.links:hover {
  color: LightSkyBlue; 
  text-decoration: none;
  background-color: var(--cor-hover);
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
  border-radius: 5px;
  width: 280px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.links img {
  width: 16px;  
  height: 16px; 
  object-fit: contain; 
  border-radius: 0;
}

.projetos{
  text-decoration: none;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s;
  border-radius: 5px;
  width: 280px;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: var(--cor-secundaria);
  border: var(--cor-terciaria) 2px solid;
  border-style: solid;
  transition: 0.3s;
  align-items: center;
}


.projetos img{
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  height: auto;
  transition: 0.3s;
  width: 32px;  
  height: 32px; 
  object-fit: contain; 
  border-radius: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  color: var(--cor-secundaria);
  margin: 1%;
  transition: 0.3s;
}


.projetos:hover{
    color: LightSkyBlue; 
    text-decoration: none;
    background-color: var(--cor-hover);
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
    border-radius: 5px;
    width: 280px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  

.descricao {
  max-width: 600px;
  margin-right: 20px;
  font-family: 'Krona One', sans-serif; 
  color: var(--cor-secundaria);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.foto-perfil {
  width: 350px;  
  height: 350px; 
  object-fit: cover; 
  border-radius: 100%; 
}

.programando {
  width: 100%; 
  max-width: 500px; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
  display: block; 
  margin: 20px 0; 
  flex: 1; 
}


nav {
  display: flex;
  justify-content: center; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--cor-terciaria);
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.3s;
  padding: 10px 15px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: var(--cor-terciaria);
  color: var(--cor-hover);
}

.inicio, 
.sobre-mim,
.contato{
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--cor-principal);
  color: var(--cor-terciaria);
  font-family: Arial, sans-serif; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.curriculo{
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--cor-principal);
  color: var(--cor-terciaria);
  font-family: Arial, sans-serif; 
  display: flex;
  flex-direction: column;
  min-height: 240vh;
}

p {
  line-height: 1.6; 
  text-align: justify;
}

span {
  color: var(--cor-terciaria);
  font-weight: bold;
}

footer {
  background-color: var(--cor-terciaria);
  color: var(--cor-principal);
  text-align: center;
  padding: 10px;
  position:fixed;
  bottom: 0;
  width: 100%;
  font-family: 'monteserrat', sans-serif;
}

.cv-download {
  background-color: var(--cor-terciaria);  
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: inline-block;
  color: var(--cor-principal);
  font-weight: bold;
  text-align: right;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 255, 255, 0.3);
}

.btn-download:hover {
  background-color: #272727; 
  box-shadow: 0px 6px 10px var(--cor-hover);
  color: #272727;
}


.contato-btn {
  background-color: var(--cor-principal);
  color: white;
  border: var(--cor-terciaria) 2px solid;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  padding: 20px 0;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  width: 280px;
}

.contato-btn:hover {
  background-color: #0097a7;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  background: var(--cor-principal);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  transform: scale(0.8);
  opacity: 0;
  animation: scaleUp 0.3s forwards 0.1s;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.125rem;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content img {
  max-width: 80%; 
  height: auto;
  display: block;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes scaleUp {
  from {
      transform: scale(0.8);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
    }
  to {
    transform: scale(1);
    }
}

@media (max-width: 1200px) {
  
  .curriculo {
    height: 100vh;
    min-height: 310vh;
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-family: Krona One, sans-serif;  
    display: flex;
    flex-direction: column;
  }

  .inicio{
    height: 100vh;
    min-height: 130vh;
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-family: Krona One, sans-serif; 
    display: flex;
    flex-direction: column;
  }

  
  .sobre-mim {
    height: 100vh;
    min-height: 140vh;
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-family: Krona One, sans-serif; 
    display: flex;
    flex-direction: column;
  }

  
  .contato{
    height: 100vh;
    
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-family: Krona One, sans-serif; 
    display: flex;
    flex-direction: column;
  }
  
  .apresentacao {
    flex-direction: column;
    text-align:justify;
    margin: 5%;
  }

  .descricao {
    max-width: 100%;
    margin: 0;
    text-align:left;
    flex: 1;
  }

  
  .foto-perfil {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }

  
  .menu {
    flex-direction: column;
    padding: 10px 0;
  }

  .menu ul {
    flex-direction: column;
    gap: 10px;
  }

  
  .redes-sociais {
    flex-direction: column;
  }

  .links {
    width: 100%;
  }


  footer {
    position:static;
    padding: 20px;
  }
}

